input{width:300px;margin:0}.app{margin:0;display:flex;justify-content:center;align-items:center;padding:10px;background-color:#f5f5f5;height:100%}.form{background-color:#fff;padding:20px}canvas{width:400px}
